<?php

// By default this plugin logs all users in with the values configured below.

$config['singleuserautologon_hostname'] = 'example.com';

$config['singleuserautologon_username'] = 'me';

$config['singleuserautologon_password'] = '*****';
